body{
    background: url(/CSS-Practise/Accordian/1.avif) no-repeat center center/ cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.accordian{
    height: 450px;
    width: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
.accordian .accordian-title{
    text-align: center;
}
.accordian .content-container .question{
    padding: 18px 0px;
    font-size: 15px;
    border-bottom: solid 1px black;

    position: relative;
}
.accordian .content-container .question::after{
    content: "+";

    position: absolute;
    right: -5px;
}
.accordian .content-container .answer{
    padding: 5px;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: -5s;
}